/* reset do css*/
*{
    margin: 0;
    padding: 0px;
}

h1, p{
    text-align: center;
}

header {
    background-color: rgba(129, 76, 7, 0.295);
    color: rgb(7, 3, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 40px;
}