@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

/* reset do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Lacquer";
}


header {
    background-color: rgb(123, 131, 179);
    color: rgb(7, 3, 0);
    padding: 40px;
    text-align: center;
}
main{
    background-color: rgb(230, 226, 226);
    flex: 1;
    padding: 48px 38px;
    width: 100%;
}

about-section, Hobbies{
    display: block;
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 30px;
}

#titulo-sobre-mim{
    font-size: 40px;
    border-bottom: 2px solid rgb(123, 131, 179);
    margin-bottom: 15px;
}
#titulo-Hobbies{
    font-size: 40px;
    border-bottom: 2px solid rgb(123, 131, 179);
    margin-bottom: 20px;
}

.texto-sobre-mim{
    font-size: 30px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
}

li{
    background-color: rgb(159, 169, 224);
    padding: 12px;
    border-left: 4px rgb(123, 131, 179);
    font-size: 16px;
    min-width: 250px;
}

li:hover{
    background-color: lightseagreen;
    transform: translateX(5px);
    transition: all 0.3s ease;
}

contact{
    display: block;
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 30px;
}

contact h2{
    margin-bottom: 8px;
    font-size: 30px;
    text-align: center;
}

contact p{
    text-align: center;
    font-size: 22px;
}

contact a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 2px solid blue;
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
    
}

contact a:hover{
    background-color: blue;
    color: whitesmoke;
    transform: translateY(-2px);

}
